@import "src/assets/styles/variables";

.background {
  height: 100%;
  background-size: cover;
  padding: 20px;
}

.content {
  padding: 20px;
  background-color: rgba(244, 244, 244, 0.8);
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.color-text {
  color: $accent-blue;
}

.icon {
  transform: rotate(180deg);
  margin-right: 23px;
}

.button-back {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    padding-left: 15px;
  }
  &:active {
    color: $accent-grey;
  }
}
