@import "src/assets/styles/variables";

.background {
  height: 100%;
  background-size: cover;
  padding: 20px;
}

.content {
  padding: 27px 44px 27px 44px;
  background-color: rgba(244, 244, 244, 0.8);
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  max-width: 1300px;
}

.icon {
  transform: rotate(180deg);
  margin-right: 3px;
  width: 10px;
  height: 10px;
}

.button-back {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $accent-blue;
  position: relative;
  &:hover {
    padding-left: 19px;
    .icon {
      position: absolute;
      left: -5px;
    }
  }
  &:active {
    color: $grey;
  }
}

.title {
  font-weight: 500;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 48px;
}

.container {
  display: flex;
  margin-bottom: 32px;
  font-size: 16px;
}

.container div:first-child {
  min-width: 453px;
}


.color-text {
  color: $accent-blue;
  margin-left: 37px;
  line-height: 32px;
}

.title-type {
  width: 100px;
  display: inline-block;
}

.title-description {
  margin-bottom: 22px;
  display: block;
}

.text-description {
  color: $accent-blue;
  line-height: 32px;
}

.description {
  margin-top: 32px;
}
