
<div *ngIf="item$ | async as item" class="background" [style.background-image]="'url(' + item.bannerImage +')'">

  <div class="content">
    <button type="button" (click)="goBack()" class="button-back">
      <img src="./assets/icon/icon-arrow.svg" class="icon">
      Вернуться</button>
    <h1 class="title">{{ item.title?.english ? item.title?.english : 'Native title: ' + item.title?.native }}</h1>

    <div class="container">
      <div>
        <span class="title-type">Type </span>
        <span class="color-text">{{item.type}}</span>
      </div>
      <div>
        <span class="title-type">Format </span>
        <span class="color-text">{{item.format}}</span>
      </div>
    </div>

    <div class="container">
      <div>
        <span class="title-type">For adults </span>
        <span class="color-text">{{getBooleanLabel(item.isAdult)}}</span>
      </div>
      <div>
        <span class="title-type">Episodes </span>
        <span class="color-text">{{item.episodes}}</span>
      </div>
    </div>

    <div>
      <span class="title-type">Status </span>
      <span class="color-text">{{item.status}}</span>
    </div>
    <div class="description">
      <span class="title-description">Description </span>
      <span class="text-description">{{item.description}}</span>
    </div>
  </div>


</div>
