@import "src/assets/styles/variables";

.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

input:checked + .text:before,
input:not(:checked) + .text:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  border: 3px solid $accent-grey;
  border-radius: 2px;
}

input:not(:checked) + .text:before {
  border: 2px solid $accent-grey;
  background-color: #ffffff;
}

input:checked + .text:before {
  border: 2px solid $accent-blue;
  background-color: $accent-blue;
}

input:checked,
input:not(:checked) {
  position: absolute;
  left: -9999px;
}

input:checked + .text,
input:not(:checked) + .text {
  display: inline-block;
  position: relative;
  padding-left: 31px;
  padding-bottom: 16px;
  line-height: 20px;
  cursor: pointer;
}

input:checked + .text:after,
input:not(:checked) + .text:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 3px;
  top: 3px;
  width: 11px;
  height: 6px;
  border-radius: 1px;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input:not(:checked) + .text:after {
  opacity: 0;
}

input:checked + .text:after {
  opacity: 1;
}
