@import "src/assets/styles/variables";

:host {
  display: block;
}

.search  {
  margin-top: 39px;
}

.format-wrapper {
  margin-top: 32px;
}

.type-wrapper {
  margin-top: 24px;
}

.title {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}

.radio-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  margin-bottom: 24px;
}

.button-result {
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: $accent-blue;
  text-transform: uppercase;
  margin-top: 24px;
  &:hover {
    color: $grey;
  }
  &:active {
    color: $accent-grey;
  }
}
