@import "src/assets/styles/variables";

:host {
  margin: 0;
}

.wrapper {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}

.title {
  font-size: 28px;
  margin-bottom: 43px;
}

.content {
  width: 80%;
  padding: 26px 64px 162px 63px}

.filter {
  width: 20%;
}

.wrapper-filter {
  height: 100vh;
  display: block;
  border-left: 1px solid $grey;
  padding: 26px 31px 26px 31px;
}

.wrapper-card {
  display: flex;
  margin-bottom: 9px;
}

.title-card {
  font-size: 20px;
}

.wrapper-type {
  display: flex;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 16px;
}

.button-info {
  background-color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    padding-left: 15px;
  }
  &:active {
    color: $accent-grey;
  }
}

.icon {
  margin-left: 23px;
}

hr {
  margin-bottom: 19px;
}

.color-text {
  color: $accent-blue;
  margin-left: 104px;
  margin-right: 260px;
}

path {
    fill: #347CFF;
}

.button-back {
  background-color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    path {
      fill: #3C474C;
    }
  }
  &:active {
    path {
      fill: #A5A5A5;
    }
  }
}

.button-next {
  background-color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: rotate(180deg);
  &:hover {
    path {
      fill: #3C474C;
    }
  }
  &:active {
    path {
      fill: #A5A5A5;
    }
  }
}

.pagination {
  display: flex;
  margin-top: 57px;
}

.page-number {
  margin: 0 22px 0 22px;
}
